.qcon1 {
    text-align: justify;
    position: relative;
    background-color: #EEEEEE;
    margin-top: 30px;
    margin-bottom: 70px;
    margin-right: 70px;
    margin-left: 70px;
    border-radius: 10px;
    padding: 10px 20px;
}

.qcon1 h1 {
    font-size: 35px;
    font-family: 'Libre Baskerville', serif;
    color: #273746;
}

.qcon1 p {
    font-family: 'Zen Antique Soft', serif;
    font-size: 25px;
    color: #2980B9;

}

.qcon2 {
    margin: auto;
    width: 50%;
    border: 5px solid #EEEEEE;
    padding: 10px;
}

.btn {
    text-decoration: none;
    color: #000;
    font-family: 'Zen Antique Soft', serif;
    font-size: 20px;
}

.qcon2 button {
    border: 2px solid #3498db;
    border-radius: 8px;
    background: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    color: #fff;
    background-color: #1183cf;
    border: 2px solid #1183cf;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: -10px 0;
}

.logo {
    cursor: pointer;
    margin: -10px 30px;
}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 30px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
    font-size: 20px;
}

nav ul li a {
    color: #1A5276;
    text-decoration: none;
    position: relative;
    font-family: Helvetica,sans-serif;
}

nav ul li ::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #1A5276;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 50%;
}

body {
    background-color: #EEEEEE;
}